@model WeMedCare.Models.DoctorDetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DoctorDetailsModel</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Degree)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fees)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fees)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Schedule)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Schedule)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpecialistId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpecialistId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
